/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		cell-padding-left: 5px;
		cell-padding-right: 5px;
		cell-padding-top: 0px;
		cell-padding-bottom: 0px;
	}

	mcTableColumnStyle
	{
		font-family: sans-serif;
	}

	mcTableColumnStyle
	{
		font-family: sans-serif;
		color: #000000;
	}

	mcTableBodyStyle
	{
		
	}
}

mcTableStyle
{
	name: Danger;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-right-style: none;
	border-right-width: 1px;
	border-top-style: none;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-width: 1px;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 0px;
	cell-padding-bottom: 0px;
	max-id: 2;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	name: Column1;
	id: 0;
}

mcTableColumnStyle
{
	span: 1;
	background-color: #ffb871;
	name: Column2;
	id: 1;
	font-family: sans-serif;
	vertical-align: middle;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	vertical-align: middle;
	name: Body1;
	id: 2;
	font-family: sans-serif;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-Danger
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Danger-HeadI-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadI-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadE-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadE-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadF-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadF-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadH-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadH-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadD-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadD-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadC-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadC-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadB-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadB-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadA-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadA-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadG-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadG-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadI-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadI-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadE-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadE-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadF-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadF-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadH-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadH-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadD-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadD-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadC-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadC-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadB-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadB-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadA-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadA-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadG-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-HeadG-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootI-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootI-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootE-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootE-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootF-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootF-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootH-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootH-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootD-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootD-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootC-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootC-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootB-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootB-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootA-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootA-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootG-Column1-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootG-Column1- p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootI-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootI-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootE-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootE-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootF-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootF-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootH-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootH-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootD-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootD-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootC-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootC-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootB-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootB-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootA-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootA-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootG-Column2-
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-FootG-Column2- p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyI-Column1-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyI-Column1-Body1 p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyE-Column1-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyE-Column1-Body1 p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyF-Column1-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyF-Column1-Body1 p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyH-Column1-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyH-Column1-Body1 p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyD-Column1-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyD-Column1-Body1 p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyC-Column1-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyC-Column1-Body1 p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyB-Column1-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyB-Column1-Body1 p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyA-Column1-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyA-Column1-Body1 p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyG-Column1-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyG-Column1-Body1 p
	{
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyI-Column2-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyI-Column2-Body1 p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyE-Column2-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyE-Column2-Body1 p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyF-Column2-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyF-Column2-Body1 p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyH-Column2-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyH-Column2-Body1 p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyD-Column2-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyD-Column2-Body1 p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyC-Column2-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyC-Column2-Body1 p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyB-Column2-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyB-Column2-Body1 p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyA-Column2-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyA-Column2-Body1 p
	{
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyG-Column2-Body1
	{
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		color: #000000;
		font-family: sans-serif;
	}

	.TableStyle-Danger-BodyG-Column2-Body1 p
	{
		color: #000000;
		font-family: sans-serif;
	}
}

.TableStyle-Danger
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-right-style: none;
	border-right-width: 1px;
	border-top-style: none;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Danger-Column-Column1
{
	
}

.TableStyle-Danger-Column-Column2
{
	
}

.TableStyle-Danger-HeadI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Danger-HeadI-Column1- p
{
	
}

.TableStyle-Danger-HeadE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-Danger-HeadE-Column1- p
{
	
}

.TableStyle-Danger-HeadF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Danger-HeadF-Column1- p
{
	
}

.TableStyle-Danger-HeadH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-Danger-HeadH-Column1- p
{
	
}

.TableStyle-Danger-HeadD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Danger-HeadD-Column1- p
{
	
}

.TableStyle-Danger-HeadC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Danger-HeadC-Column1- p
{
	
}

.TableStyle-Danger-HeadB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-Danger-HeadB-Column1- p
{
	
}

.TableStyle-Danger-HeadA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Danger-HeadA-Column1- p
{
	
}

.TableStyle-Danger-HeadG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Danger-HeadG-Column1- p
{
	
}

.TableStyle-Danger-HeadI-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-HeadI-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-HeadE-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-HeadE-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-HeadF-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-HeadF-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-HeadH-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-HeadH-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-HeadD-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-HeadD-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-HeadC-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-HeadC-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-HeadB-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-HeadB-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-HeadA-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-HeadA-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-HeadG-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-HeadG-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Danger-FootI-Column1- p
{
	
}

.TableStyle-Danger-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-Danger-FootE-Column1- p
{
	
}

.TableStyle-Danger-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Danger-FootF-Column1- p
{
	
}

.TableStyle-Danger-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-Danger-FootH-Column1- p
{
	
}

.TableStyle-Danger-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Danger-FootD-Column1- p
{
	
}

.TableStyle-Danger-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Danger-FootC-Column1- p
{
	
}

.TableStyle-Danger-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-Danger-FootB-Column1- p
{
	
}

.TableStyle-Danger-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Danger-FootA-Column1- p
{
	
}

.TableStyle-Danger-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.TableStyle-Danger-FootG-Column1- p
{
	
}

.TableStyle-Danger-FootI-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-FootI-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-FootE-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-FootE-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-FootF-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-FootF-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-FootH-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-FootH-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-FootD-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-FootD-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-FootC-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-FootC-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-FootB-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-FootB-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-FootA-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-FootA-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-FootG-Column2-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-FootG-Column2- p
{
	font-family: sans-serif;
}

.TableStyle-Danger-Body-Body1
{
	
}

.TableStyle-Danger-BodyI-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
}

.TableStyle-Danger-BodyI-Column1-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyE-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-Danger-BodyE-Column1-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyF-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-style: none;
}

.TableStyle-Danger-BodyF-Column1-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyH-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-Danger-BodyH-Column1-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyD-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-style: none;
}

.TableStyle-Danger-BodyD-Column1-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyC-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
}

.TableStyle-Danger-BodyC-Column1-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyB-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle-Danger-BodyB-Column1-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyA-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
}

.TableStyle-Danger-BodyA-Column1-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyG-Column1-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
}

.TableStyle-Danger-BodyG-Column1-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyI-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-BodyI-Column2-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyE-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-style: none;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-BodyE-Column2-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyF-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-style: none;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-BodyF-Column2-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyH-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-BodyH-Column2-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyD-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom-width: 1px;
	border-bottom-style: none;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-BodyD-Column2-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyC-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-BodyC-Column2-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyB-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-BodyB-Column2-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyA-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-BodyA-Column2-Body1 p
{
	font-family: sans-serif;
}

.TableStyle-Danger-BodyG-Column2-Body1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: sans-serif;
	vertical-align: middle;
	background-color: #ffb871;
}

.TableStyle-Danger-BodyG-Column2-Body1 p
{
	font-family: sans-serif;
}

