/*<meta />*/

/* MadCap Table Style: */

/* Cell Styles: */

mcTableStyle
{
	name: Note;
	border-collapse: collapse;
	border-top-style: none;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-width: 1px;
	cell-padding-left: 6px;
	cell-padding-right: 6px;
	cell-padding-top: 3px;
	cell-padding-bottom: 3px;
	border-left-style: none;
	border-left-width: 1px;
	border-right-style: none;
	border-right-width: 1px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
}

mcTableBodyStyle
{
	span: 1;
	font-weight: normal;
	separator-style: none;
	separator-width: 1px;
	background-color: #e0e0c2;
	vertical-align: middle;
}

.TableStyle_Note
{
	border-left-style: none;
	border-left-width: 1px;
	border-right-style: none;
	border-right-width: 1px;
	border-top-style: none;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 3px 6px 3px 6px;
}

.TableStyle_Note_Body_0_0
{
	font-weight: normal;
	vertical-align: middle;
	background-color: #e0e0c2;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Note_Body_0_0 p
{
	font-weight: normal;
}

.TableStyle_Note_Body_0_0_RowSep_ColSep
{
	font-weight: normal;
	vertical-align: middle;
	background-color: #e0e0c2;
	border-bottom-width: 1px;
	border-bottom-style: none;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle_Note_Body_0_0_RowSep_ColSep p
{
	font-weight: normal;
}

.TableStyle_Note_Body_0_0_RowSep
{
	font-weight: normal;
	vertical-align: middle;
	background-color: #e0e0c2;
	border-bottom-width: 1px;
	border-bottom-style: none;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Note_Body_0_0_RowSep p
{
	font-weight: normal;
}

.TableStyle_Note_Body_0_0_ColSep
{
	font-weight: normal;
	vertical-align: middle;
	background-color: #e0e0c2;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle_Note_Body_0_0_ColSep p
{
	font-weight: normal;
}

.TableStyle_Note_Body_0_0_RowSep_ColEnd
{
	font-weight: normal;
	vertical-align: middle;
	background-color: #e0e0c2;
	border-bottom-width: 1px;
	border-bottom-style: none;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Note_Body_0_0_RowSep_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Note_Body_0_0_RowEnd
{
	font-weight: normal;
	vertical-align: middle;
	background-color: #e0e0c2;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Note_Body_0_0_RowEnd p
{
	font-weight: normal;
}

.TableStyle_Note_Body_0_0_RowEnd_ColSep
{
	font-weight: normal;
	vertical-align: middle;
	background-color: #e0e0c2;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-right-width: 1px;
	border-right-style: none;
}

.TableStyle_Note_Body_0_0_RowEnd_ColSep p
{
	font-weight: normal;
}

.TableStyle_Note_Body_0_0_RowEnd_ColEnd
{
	font-weight: normal;
	vertical-align: middle;
	background-color: #e0e0c2;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Note_Body_0_0_RowEnd_ColEnd p
{
	font-weight: normal;
}

.TableStyle_Note_Body_0_0_ColEnd
{
	font-weight: normal;
	vertical-align: middle;
	background-color: #e0e0c2;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.TableStyle_Note_Body_0_0_ColEnd p
{
	font-weight: normal;
}
