/*<meta Version="7" />*/

/* MadCap Table Style: */

mcTableStyle
{
	name: When_Statement;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	max-id: 6;
	cell-padding-right: 0px;
	background-image: none;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	cell-padding-right: 5px;
	cell-padding-left: 0px;
	background-image: none;
	type: Header;
	text-align: right;
	size: 50px;
}

/* Cell Styles: */

mcTableColumnStyle
{
	span: 1;
	id: 5;
	name: Column2;
	cell-padding-left: 0px;
	cell-padding-right: 5px;
	type: Manual;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	background-image: none;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-padding-right: 0px;
	cell-padding-left: 0px;
	type: Manual;
}

mcTableBodyStyle
{
	span: 1;
	id: 6;
	name: Body2;
	background-image: none;
	separator-style: none;
	separator-width: 1px;
	cell-padding-left: 0px;
	cell-padding-right: 0px;
}

mcTableFootStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
	background-image: none;
}

.TableStyle-When_Statement
{
	border-collapse: collapse;
	background-image: none;
	border-left-style: none;
	border-left-width: 0px;
	border-right-style: none;
	border-right-width: 0px;
	border-top-style: none;
	border-top-width: 0px;
	border-bottom-style: none;
	border-bottom-width: 0px;
	border-spacing: 0px 0px;
}

.TableStyle-When_Statement .Column-Column1
{
	width: 50px;
}

.TableStyle-When_Statement .Column-Column2
{
	
}

.TableStyle-When_Statement .Head-Header1
{
	
}

.TableStyle-When_Statement .HeadI-Column1-Header1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .HeadI-Column1-Header1 p
{
	
}

.TableStyle-When_Statement .HeadE-Column1-Header1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-When_Statement .HeadE-Column1-Header1 p
{
	
}

.TableStyle-When_Statement .HeadF-Column1-Header1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-When_Statement .HeadF-Column1-Header1 p
{
	
}

.TableStyle-When_Statement .HeadH-Column1-Header1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-image: none;
}

.TableStyle-When_Statement .HeadH-Column1-Header1 p
{
	
}

.TableStyle-When_Statement .HeadD-Column1-Header1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-When_Statement .HeadD-Column1-Header1 p
{
	
}

.TableStyle-When_Statement .HeadC-Column1-Header1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .HeadC-Column1-Header1 p
{
	
}

.TableStyle-When_Statement .HeadB-Column1-Header1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-image: none;
}

.TableStyle-When_Statement .HeadB-Column1-Header1 p
{
	
}

.TableStyle-When_Statement .HeadA-Column1-Header1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .HeadA-Column1-Header1 p
{
	
}

.TableStyle-When_Statement .HeadG-Column1-Header1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .HeadG-Column1-Header1 p
{
	
}

.TableStyle-When_Statement .HeadI-Column2-Header1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .HeadI-Column2-Header1 p
{
	
}

.TableStyle-When_Statement .HeadE-Column2-Header1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-When_Statement .HeadE-Column2-Header1 p
{
	
}

.TableStyle-When_Statement .HeadF-Column2-Header1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-When_Statement .HeadF-Column2-Header1 p
{
	
}

.TableStyle-When_Statement .HeadH-Column2-Header1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .HeadH-Column2-Header1 p
{
	
}

.TableStyle-When_Statement .HeadD-Column2-Header1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
}

.TableStyle-When_Statement .HeadD-Column2-Header1 p
{
	
}

.TableStyle-When_Statement .HeadC-Column2-Header1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .HeadC-Column2-Header1 p
{
	
}

.TableStyle-When_Statement .HeadB-Column2-Header1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .HeadB-Column2-Header1 p
{
	
}

.TableStyle-When_Statement .HeadA-Column2-Header1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .HeadA-Column2-Header1 p
{
	
}

.TableStyle-When_Statement .HeadG-Column2-Header1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .HeadG-Column2-Header1 p
{
	
}

.TableStyle-When_Statement .Foot-Footer1
{
	
}

.TableStyle-When_Statement .FootI-Column1-Footer1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .FootI-Column1-Footer1 p
{
	
}

.TableStyle-When_Statement .FootE-Column1-Footer1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-image: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-When_Statement .FootE-Column1-Footer1 p
{
	
}

.TableStyle-When_Statement .FootF-Column1-Footer1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-When_Statement .FootF-Column1-Footer1 p
{
	
}

.TableStyle-When_Statement .FootH-Column1-Footer1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-image: none;
}

.TableStyle-When_Statement .FootH-Column1-Footer1 p
{
	
}

.TableStyle-When_Statement .FootD-Column1-Footer1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-When_Statement .FootD-Column1-Footer1 p
{
	
}

.TableStyle-When_Statement .FootC-Column1-Footer1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .FootC-Column1-Footer1 p
{
	
}

.TableStyle-When_Statement .FootB-Column1-Footer1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	background-image: none;
}

.TableStyle-When_Statement .FootB-Column1-Footer1 p
{
	
}

.TableStyle-When_Statement .FootA-Column1-Footer1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .FootA-Column1-Footer1 p
{
	
}

.TableStyle-When_Statement .FootG-Column1-Footer1
{
	text-align: right;
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .FootG-Column1-Footer1 p
{
	
}

.TableStyle-When_Statement .FootI-Column2-Footer1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .FootI-Column2-Footer1 p
{
	
}

.TableStyle-When_Statement .FootE-Column2-Footer1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-When_Statement .FootE-Column2-Footer1 p
{
	
}

.TableStyle-When_Statement .FootF-Column2-Footer1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-When_Statement .FootF-Column2-Footer1 p
{
	
}

.TableStyle-When_Statement .FootH-Column2-Footer1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .FootH-Column2-Footer1 p
{
	
}

.TableStyle-When_Statement .FootD-Column2-Footer1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: none;
}

.TableStyle-When_Statement .FootD-Column2-Footer1 p
{
	
}

.TableStyle-When_Statement .FootC-Column2-Footer1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .FootC-Column2-Footer1 p
{
	
}

.TableStyle-When_Statement .FootB-Column2-Footer1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .FootB-Column2-Footer1 p
{
	
}

.TableStyle-When_Statement .FootA-Column2-Footer1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .FootA-Column2-Footer1 p
{
	
}

.TableStyle-When_Statement .FootG-Column2-Footer1
{
	padding-left: 0px;
	padding-right: 5px;
	background-image: none;
}

.TableStyle-When_Statement .FootG-Column2-Footer1 p
{
	
}

.TableStyle-When_Statement .Body-Body1
{
	
}

.TableStyle-When_Statement .BodyI-Column1-Body1
{
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyI-Column1-Body1 p
{
	
}

.TableStyle-When_Statement .BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-When_Statement .BodyE-Column1-Body1 p
{
	
}

.TableStyle-When_Statement .BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyF-Column1-Body1 p
{
	
}

.TableStyle-When_Statement .BodyH-Column1-Body1
{
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-When_Statement .BodyH-Column1-Body1 p
{
	
}

.TableStyle-When_Statement .BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyD-Column1-Body1 p
{
	
}

.TableStyle-When_Statement .BodyC-Column1-Body1
{
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyC-Column1-Body1 p
{
	
}

.TableStyle-When_Statement .BodyB-Column1-Body1
{
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-When_Statement .BodyB-Column1-Body1 p
{
	
}

.TableStyle-When_Statement .BodyA-Column1-Body1
{
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyA-Column1-Body1 p
{
	
}

.TableStyle-When_Statement .BodyG-Column1-Body1
{
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyG-Column1-Body1 p
{
	
}

.TableStyle-When_Statement .BodyI-Column2-Body1
{
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyI-Column2-Body1 p
{
	
}

.TableStyle-When_Statement .BodyE-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyE-Column2-Body1 p
{
	
}

.TableStyle-When_Statement .BodyF-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyF-Column2-Body1 p
{
	
}

.TableStyle-When_Statement .BodyH-Column2-Body1
{
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyH-Column2-Body1 p
{
	
}

.TableStyle-When_Statement .BodyD-Column2-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyD-Column2-Body1 p
{
	
}

.TableStyle-When_Statement .BodyC-Column2-Body1
{
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyC-Column2-Body1 p
{
	
}

.TableStyle-When_Statement .BodyB-Column2-Body1
{
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyB-Column2-Body1 p
{
	
}

.TableStyle-When_Statement .BodyA-Column2-Body1
{
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyA-Column2-Body1 p
{
	
}

.TableStyle-When_Statement .BodyG-Column2-Body1
{
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyG-Column2-Body1 p
{
	
}

.TableStyle-When_Statement .Body-Body2
{
	
}

.TableStyle-When_Statement .BodyI-Column1-Body2
{
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyI-Column1-Body2 p
{
	
}

.TableStyle-When_Statement .BodyE-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-style: none;
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-When_Statement .BodyE-Column1-Body2 p
{
	
}

.TableStyle-When_Statement .BodyF-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-style: none;
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyF-Column1-Body2 p
{
	
}

.TableStyle-When_Statement .BodyH-Column1-Body2
{
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-When_Statement .BodyH-Column1-Body2 p
{
	
}

.TableStyle-When_Statement .BodyD-Column1-Body2
{
	border-bottom-width: 1px;
	border-bottom-style: none;
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyD-Column1-Body2 p
{
	
}

.TableStyle-When_Statement .BodyC-Column1-Body2
{
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyC-Column1-Body2 p
{
	
}

.TableStyle-When_Statement .BodyB-Column1-Body2
{
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-When_Statement .BodyB-Column1-Body2 p
{
	
}

.TableStyle-When_Statement .BodyA-Column1-Body2
{
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyA-Column1-Body2 p
{
	
}

.TableStyle-When_Statement .BodyG-Column1-Body2
{
	text-align: right;
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyG-Column1-Body2 p
{
	
}

.TableStyle-When_Statement .BodyI-Column2-Body2
{
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyI-Column2-Body2 p
{
	
}

.TableStyle-When_Statement .BodyE-Column2-Body2
{
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-style: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyE-Column2-Body2 p
{
	
}

.TableStyle-When_Statement .BodyF-Column2-Body2
{
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-style: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyF-Column2-Body2 p
{
	
}

.TableStyle-When_Statement .BodyH-Column2-Body2
{
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyH-Column2-Body2 p
{
	
}

.TableStyle-When_Statement .BodyD-Column2-Body2
{
	background-image: none;
	border-bottom-width: 1px;
	border-bottom-style: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyD-Column2-Body2 p
{
	
}

.TableStyle-When_Statement .BodyC-Column2-Body2
{
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyC-Column2-Body2 p
{
	
}

.TableStyle-When_Statement .BodyB-Column2-Body2
{
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyB-Column2-Body2 p
{
	
}

.TableStyle-When_Statement .BodyA-Column2-Body2
{
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyA-Column2-Body2 p
{
	
}

.TableStyle-When_Statement .BodyG-Column2-Body2
{
	background-image: none;
	padding-left: 0px;
	padding-right: 5px;
}

.TableStyle-When_Statement .BodyG-Column2-Body2 p
{
	
}
